<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>
        <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
</style>
<ul >
    <li><a href="/">Головна</a></li>     <li><a href="/top">Відмінники</a></li>

    <li><a href="/search">Пошук</a></li>
    <li><a href="/logout">Exit</a></li>
</ul>
{% if error %}
    <p class="error">Вам потрібно залогинитись під обліковим записом що має право на цю дію!</p>
{% endif %}
{% if not error %}
<div class="content">
<h1>Додати студента</h1>
<form action="/add-student" method="POST">
    Ім'я: <br>
<input type="text" name="name"> <br>
Призвище: <br>
<input type="text" name="second_name"> <br>
Група: <br>
<select name="group">
    {% for group in groups %}
      <option value="{{group[0]}}">Факультет: {{group[2]}}, група: {{group[1]}}</option>
   {% endfor %}
</select> <a href="add-group" target="blank">Дотати групу</a> <br>
Номер студенського квитка: <br>
<input type="text" name="number"> <br>
<input type="reset">
<input type="submit" value="Зберегти">
</form>
{% endif %}
</div>
<p>Создать базу данных студентов. У студента есть факультет, группа, оценки, номер студенческого билета. Написать программу, с двумя ролями: Администратор, Пользователь. Администратор может добавлять, изменять существующих студентов. Пользователь может получать список отличников, список всех студентов, искать студентов по по номеру студенческого, получать полную информацию о конкретном студенте (включая оценки, факультет)</p>
</body>
</html>