<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>
        <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
</style>
<ul >
    <li><a href="/">Головна</a></li>     <li><a href="/top">Відмінники</a></li>

    <li><a href="/search">Пошук</a></li>
    <li><a href="/logout">Exit</a></li>
</ul>

<div class="content">
    <table>
     <th>Id</th>
     <th>Ім'я</th>
     <th>Призвище</th>
     <th>Група</th>
     <th>Факультет</th>
     <th>Номер квитка</th>
     {% if admin %}
     <th></th>
     {% endif %}
     {% for student in students %}
     <tr>
     <td>{{student[0]}}</td>
     <td>{{student[1]}}</td>
     <td>{{student[2]}}</td>
     <td>{{student[3]}}</td>
     <td>{{student[4]}}</td>
     <td><a href="/student/{{student[0]}}">{{student[5]}}</a></td>
          {% if admin %}
     <td><a href="/student/{{student[0]}}/edit">Редагувати</a></td>
      {%endif%}
    </tr>
    {% endfor %}
</table>
<a href="/add-student">Додати студента</a>
</div>
<p>Создать базу данных студентов. У студента есть факультет, группа, оценки, номер студенческого билета. Написать программу, с двумя ролями: Администратор, Пользователь. Администратор может добавлять, изменять существующих студентов. Пользователь может получать список отличников, список всех студентов, искать студентов по по номеру студенческого, получать полную информацию о конкретном студенте (включая оценки, факультет)</p>
</body>
</html>